# Assume Data wherever needed/necessary

### Loop Statements

In [ ]:
# WAP stands for Write A Program

In [ ]:
#L1 E
WAP to print all elements of a list using a for loop. 
Take the elements of the list from the user.

For e.g. Input: l = [3,'Hi',67,0,12,0,8]
        Output: 3
                'Hi'
                67
                0
                12
                0
                8

In [ ]:
#L2 M
WAP to take inputs from user to make a list. Length of the list has to be taken from the user.
Again take one input from user and search it in the list and delete that element, if found.
If not found, print "Element not present".

For e.g. Input: len_list = 5
                list = ["a", "b", "y", "e", "p"]
                search_element = "g"
                    Output: "Element not found"
                search_element = "e"
                    Output: ["a", "b", "y", "p"]

if element in list : 
    element found
else : 
    element not found

In [ ]:
len_list = int( input("How many elements : ") )
listName = []
for i in range( len_list ) : 
    elementName = input("Element Name: ")
    listName.append(elementName)
print( listName )


search_element = input("Mention the element to be searched from the above list : ")
if search_element in listName : 
    print( "element found" )
else : 
    print( "element not found")

In [ ]:
#L3 EM
Make a grading system for a school based on the marks of the students using the following criteria.
Marks 0 - 40 : Grade F
     41 - 50 : Grade E
     51 - 70 : Grade D
     71 - 80 : Grade C
     81 - 90 : Grade B
     91 - 100: Grade A
Continuously take marks as input from the user and print the grade. 
The user can enter "Stop" to stop the loop.

In [3]:
while True:
    mark=input("Enter mark or enter 'stop' to end the program: ")
    if (mark.strip().lower()=="stop"):
        break
    if 0<=int(mark)<=40:
        grade="F"
    elif 41<=int(mark)<=50:
        grade="E"
    elif 51<=int(mark)<=70:
        grade="D"
    elif 71<=int(mark)<=80:
        grade="C" 
    elif 81<=int(mark)<=90:
        grade="B"
    elif 91<=int(mark)<=100:
        grade="A"
    else:
        print("invalid input")
    print (f"mark: {mark}  |  grade:{grade}")

Enter mark or enter 'stop' to end the program: 65
mark: 65  |  grade:D
Enter mark or enter 'stop' to end the program: 92
mark: 92  |  grade:A
Enter mark or enter 'stop' to end the program: 2
mark: 2  |  grade:F
Enter mark or enter 'stop' to end the program: stop

In [ ]:
#L4 E
WAP to save the cube of all numbers from 1 to a number n in list, 
where n is taken as input from the user.

For e.g. Input: 5
        Output: [1, 8, 27, 64, 125]  #Cube of numbers from 1 to 5 where 5 is the input from the user

In [5]:
l4 = []
input4 = int(input("Enter a number: "))
for i in range(1, input4+1):
    l4.append(i**3)
print(l4)

Enter a number: 10
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
#L5 E
WAP to print even numbers in a given range in reverse order. Take the range from the user.

For e.g. Input: start = 3
                End = 14
        Output: 14, 12, 10, 8, 6, 4

In [7]:
x5 = int(input("Enter start of range: "))
y5 = int(input("Enter end of range: "))
for i in range(y5, x5, -2):
    print(i, end = " , ")

Enter start of range: 1
Enter end of range: 10
10 , 8 , 6 , 4 , 2 ,

In [9]:
listName = [i for i in range (  int(input("Enter start: ")),     int(input("Enter end: "))   )  if i%2==0]
print(listName[::-1])

Enter start: 1
Enter end: 10
[8, 6, 4, 2]

In [ ]:
start=2
end=15
a=[]
b=[]
for i in reversed(range(start,end)):
    if (i%2)==0:
        a.append(i)
print(a)
for i in reversed(range(start,end)):
    if (i%2)!=0:
        b.append(i)
print(b)

In [ ]:
#L6 E
WAP to print odd numbers in a given range in reverse order.
Take the range from the user.

For e.g. Input: start = 3
                End = 14
        Output: 13, 11, 9, 7, 5, 3

In [11]:
start=1
end=15
a=[]
b=[]
for i in reversed(range(start,end)):
    if (i%2)==0:
        a.append(i)
print("Even List : ")
print(a)
for i in reversed(range(start,end)):
    if (i%2)!=0:
        b.append(i)
print("Odd List : ")
print(b)

Even List :
[14, 12, 10, 8, 6, 4, 2]
Odd List :
[13, 11, 9, 7, 5, 3, 1]

In [ ]:
#L7 E
WAP to print multiplication table of a number taken as input from the user.

For e.g. Input: 5
        Output: 5*1 = 5
                5*2 = 10
                .
                .
                .
                5*10 = 50

In [13]:
num=int(input("enter number::"))
for i in range (1,11):

#         print(num,"*",i,"=",num*i)
        print(f"{num} * {i} = {num*i}")

enter number::10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [ ]:
#L8 E
WAP to print the following pattern.

1
1 2
1 2 3
1 2 3 4

In [16]:
number = int( input( "Mention Upper Range : " ) )

for i in range(1, number + 1) : 
    print(i)

Mention Upper Range : 4
1
2
3
4

In [18]:
number = int( input( "Mention Upper Range : " ) )

for i in range(1, number + 1) : 
    print(f" i = {i} ")
    for j in range( 1, i + 1 ) : 
        print( f" j = {j} "   )
    print("*" * 30)

Mention Upper Range : 4
 i = 1
 j = 1
******************************
 i = 2
 j = 1
 j = 2
******************************
 i = 3
 j = 1
 j = 2
 j = 3
******************************
 i = 4
 j = 1
 j = 2
 j = 3
 j = 4
******************************

In [21]:
number = int( input( "Mention Upper Range : " ) )

for i in range(1, number + 1) : 
#     print(f" i = {i} ")
    for j in range( 1, i + 1 ) : 
#         print( f" j = {j} ", end = " "   )
        print( j, end = " "   )
    print()
#     print("*" * 30)

Mention Upper Range : 4
1
1 2
1 2 3
1 2 3 4

In [25]:
number = int( input( "Mention Upper Range : " ) )
for i in range(1, number + 1) : # 1 2 3 4 
    for j in range( 1, i + 1 ) : 
        print( j, end = " "   )
    print()

Mention Upper Range : 4
1
1 2
1 2 3
1 2 3 4

In [ ]:
#L9 H
Write a program to calculate the sum of series up to n terms for a digit d. n & d are taken as input from the user.

For example:
    Input: n = 5, d = 2
    Logic: 2 + 22 + 222 + 2222 + 22222 
    Output: 24690

In [35]:
d = int( input( "Enter Digit (0 - 9) :  " ) )
n = int( input(" Mention n terms upto which SUM has to be done: ") )

totalSum = 0
for i  in range(1, n + 1) : 
    number = str(d) * i
    print(number)
    totalSum = totalSum + int( number )
    
print(totalSum)

Enter Digit (0 - 9) :  2
 Mention n terms upto which SUM has to be done: 5
2
22
222
2222
22222
22222

In [31]:
d = int( input( "Enter Digit (0 - 9) :  " ) )
n = int( input(" Mention n terms upto which SUM has to be done: ") )

totalSum = 0
pattern = ""
for i  in range(1, n + 1) : 
    number = str(d) * i
    pattern = pattern + number + " + "
#     print(pattern)
    totalSum = totalSum + int( number )
    
print( pattern[ :  len( pattern ) - 2 ] )
print(totalSum)

Enter Digit (0 - 9) :  2
 Mention n terms upto which SUM has to be done: 5
2 + 22 + 222 + 2222 + 22222
24690

In [ ]:
d = int( input( "Enter Digit (0 - 9) :  " ) )
n = int( input(" Mention n terms upto which SUM has to be done: ") )

totalSum = 0
pattern = ""
for i  in range(1, n + 1) : 
    number = str(d) * i
    pattern = pattern + number + " + "
#     print(pattern)
    totalSum = totalSum + int( number )
print(totalsum)

In [ ]:
#L10 M
WAP that keeps on accepting numbers from the user until the user enters Zero(0) as input.
Display the sum and average of all the numbers.

For example:
    Input: 3, 6, 8, 2, 5, Stop
    Output: Sum = 24
            Average = 4.8

In [34]:
count = 0 # this is used to divide the totalSum
totalSum = 0

while True : 
    
    num = int( input("Mention Number :  ") )
    
    if num == 0  :
        print(f"Total Sum = {totalSum} \nAverage = {average}"  )
        break
    
    totalSum = totalSum + num
    count = count + 1
    average = totalSum/count

Mention Number :  10
Mention Number :  4
Mention Number :  6
Mention Number :  -3
Mention Number :  -8
Mention Number :  0
Total Sum = 9
Average = 1.8

In [ ]:
#L11 E
Accept n numbers from the user and display their average. n is input from the user.

For example:
    Input: n = 5
        Numbers = 3, 6, 2, 9, 0
    Output: Average = 4.0

In [33]:
n = int(input("Numbers"))

a =[]

for i in range(n):
    el = int(input("numbers to calc average :"))
    a.append(el)
print(a)

add = sum(a)
#print (add)
avg = add/n
print("Average of numbers is", avg)
print("Average of numbers is", int(avg) )

Numbers5
numbers to calc average :6
numbers to calc average :-3
numbers to calc average :7
numbers to calc average :8
numbers to calc average :-2
[6, -3, 7, 8, -2]
Average of numbers is 3.2
Average of numbers is 3

### String Questions

In [ ]:
#S1 E
Write a Python program to count the number of each of the characters (character frequency) 
   in a string input by the user. Ignore the case.
   For example: Input: "Python is great"
		Output: P = 1, y = 1, t = 2, and so on...

In [38]:

Input =  "Python is great"
    
dt={}
for s in Input:
    dt[s]=Input.count(s)
dt

{'P': 1,
 'y': 1,
 't': 2,
 'h': 1,
 'o': 1,
 'n': 1,
 ' ': 2,
 'i': 1,
 's': 1,
 'g': 1,
 'r': 1,
 'e': 1,
 'a': 1}

In [37]:
Input =  "Python is great"

for i in Input : 
    print(f"Character : {i}, Count => {Input.count(i)}")

Character : P, Count => 1
Character : y, Count => 1
Character : t, Count => 2
Character : h, Count => 1
Character : o, Count => 1
Character : n, Count => 1
Character :  , Count => 2
Character : i, Count => 1
Character : s, Count => 1
Character :  , Count => 2
Character : g, Count => 1
Character : r, Count => 1
Character : e, Count => 1
Character : a, Count => 1
Character : t, Count => 2

In [41]:
Input =  "Python is great"

listName = []
for i in Input : 
#     print(f"Character : {i}, Count => {Input.count(i)}")
    listName.append( (i, Input.count(i)) )
list( set( listName ) )

[('n', 1),
 ('e', 1),
 ('a', 1),
 ('P', 1),
 ('h', 1),
 ('i', 1),
 ('t', 2),
 ('s', 1),
 ('y', 1),
 ('r', 1),
 ('g', 1),
 ('o', 1),
 (' ', 2)]

In [42]:
Input =  "Python is great"

listName = []
for i in Input : 
#     print(f"Character : {i}, Count => {Input.count(i)}")
    if (i, Input.count(i)) not in listName : 
        listName.append( (i, Input.count(i)) )
listName

[('P', 1),
 ('y', 1),
 ('t', 2),
 ('h', 1),
 ('o', 1),
 ('n', 1),
 (' ', 2),
 ('i', 1),
 ('s', 1),
 ('g', 1),
 ('r', 1),
 ('e', 1),
 ('a', 1)]

In [ ]:
#S2 M
Write a Python program to find the digits which are absent in a given mobile number.

   For example: Input : 9354328855
                Output: 0167

In [46]:
Input = 9354328855

finalString = ""
for i in range(10) : 
#     print(i, type(i))
    if str(i) not in str(Input) : 
        finalString = finalString + str(i)
finalString

'0167'

In [50]:
Input = "9354328855"

finalString = ""
for i in range(10) : 
#     print(i, type(i))
    if str(i) not in Input : 
        finalString = finalString + str(i)
#         print( finalString )
finalString

0
01
016
0167

'0167'

In [49]:
# Input = "9354328855"

# finalString = ""
# for i in range(10) : 
#     print(i, type(i))

0 <class 'int'>
1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
7 <class 'int'>
8 <class 'int'>
9 <class 'int'>

In [ ]:
#S3 M
WAP in python to find average of n numbers taken as input from the user dynamically.

In [ ]:
#S4 E
WAP in python that accepts a hyphen-separated sequence of 
words as input and prints the words in a hyphen-separated 
sequence after sorting them alphabetically.

For e.g. Input: "p-y-t-h-o-n"
        Output: ['h', 'n','o', 'p', 't', 'y']

In [52]:
Input =  "p-y-t-h-o-n"
output = Input.split("-")
sorted( output )

['h', 'n', 'o', 'p', 't', 'y']

In [54]:
# "h" < "n"

True

In [57]:
Input =  "p-y-t-h-o-n"
output = Input.replace("-", "")
print( output )
print( sorted( output ) )

python
['h', 'n', 'o', 'p', 't', 'y']

In [ ]:
# Anagrams : tea eat

In [ ]:
#S5 MH
WAP in python to find the number of vowels, consonants, digits, special 
characters and white space characters in a string input by the user.

Example: Input: "Qwerty@123"
	output: v = 1, c = 5, d = 3, w = 0, s = 1

In [ ]:
#S6 MH
WAP in python to check the strength of the password input by the user based on the following features.
    Length minimum of 8 characters  (+1 Strength)
    Combination of upper case & lower case characters (+1 Strength)
    Combination of alphabets & digits (+1 Strength)
    Use of Special Characters (+1 Strength)
    
Example: Input: "Qwerty@123"
        Output: Strength = 4

In [74]:
s1, s2, s3 ,s4 = 0, 0, 0, 0

Input =  "Qwerty@123"

if len(Input) > 8 : 
    s1 = 1
    
if (  any( [s.islower() for s in Input] ) and (  any( [s.isupper() for s in Input] ) )   ) : 
    s2  = 1
    
if (  any( [s.isdigit() for s in Input] ) and ( any( [s.isalpha() for s in Input] ) ) ) : 
    s3  = 1

if (  any( [  not( s.isalnum() ) for s in Input] ) ) : 
    s4  = 1


print( s1 )
print( s2 )
print( s3 )
print( s4 )

finalStrength = s1 + s2 + s3 + s4
finalStrength

1
1
1
1

4

In [78]:
s1, s2, s3 ,s4 = 0, 0, 0, 0

Input =  "PPyt*hon47"

if len(Input) > 8 : 
    s1 = 1
    
if (  any( [s.islower() for s in Input] ) and (  any( [s.isupper() for s in Input] ) )   ) : 
    s2  = 1
    
if (  any( [s.isdigit() for s in Input] ) and ( any( [s.isalpha() for s in Input] ) ) ) : 
    s3  = 1

if (  any( [  not( s.isalnum() ) for s in Input] ) ) : 
    s4  = 1


print( s1 )
print( s2 )
print( s3 )
print( s4 )

finalStrength = s1 + s2 + s3 + s4
finalStrength

1
1
1
1

4

In [ ]:
# Is there any digit inside the seq ??

Input =  "Qwerty@123"
for s in Input : 
    if s.isdigit() : 
        print(True)
    else : 
        print(False)

In [60]:
[s.isdigit() for s in Input]

[False, False, False, False, False, False, False, True, True, True]

In [65]:
# AND (all) : return TRUE if every condition is TRUE
# OR (any) : return FALSE if every condition is FALSE


Input =  "123"
print( [s.isdigit() for s in Input] )
print( "AND : ", all( [s.isdigit() for s in Input] ) )
print( "OR : ", any( [s.isdigit() for s in Input] ) )

[True, True, True]
AND :  True
OR :  True

In [66]:
# AND (all) : return TRUE if every condition is TRUE
# OR (any) : return FALSE if every condition is FALSE


Input =  "123a`ef"
print( [s.isdigit() for s in Input] )
print( "AND : ", all( [s.isdigit() for s in Input] ) )
print( "OR : ", any( [s.isdigit() for s in Input] ) )

[True, True, True, False, False, False]
AND :  False
OR :  True

In [67]:
# AND (all) : return TRUE if every condition is TRUE
# OR (any) : return FALSE if every condition is FALSE


Input =  "1aef"
print( [s.isdigit() for s in Input] )
print( "AND : ", all( [s.isdigit() for s in Input] ) )
print( "OR : ", any( [s.isdigit() for s in Input] ) )

[True, False, False, False]
AND :  False
OR :  True

In [68]:
# AND (all) : return TRUE if every condition is TRUE
# OR (any) : return FALSE if every condition is FALSE


Input =  "aef"
print( [s.isdigit() for s in Input] )
print( "AND : ", all( [s.isdigit() for s in Input] ) )
print( "OR : ", any( [s.isdigit() for s in Input] ) )

[False, False, False]
AND :  False
OR :  False

In [ ]:
#S7 E
WAP in python to compare two strings and tell the user if both of those strings are same or not. 
Ignore their case.

Example: Input String1: "Hello"
	Input String2: "hello"
	Output: Strings are same

In [ ]:
#S8 E
WAP in python to calculate the number of times a character is repeated in a given string.
Take the string and character from the user.

Example: Input String: "Neil Nitin Mukesh"
        Input Character: "e"
        Output: 2

In [ ]:
#S9 E
WAP in python which accepts string from the user and displays only those characters/elements which are present at an even index.

Example: 
    Input: "Python"
    Output: Pto

In [ ]:
#S10 E
WAP in python to capitalize the first letter of the First Name and Surname where whole name is taken as input from the user.

Example: Input: "first last" or "FIRST LAST" or "first lAst" i.e. Input can be in any case.
        Output: "First Last"

In [ ]:
#S11 EM
Write a Python program that accepts a comma separated sequence of words as input and 
prints the unique words in sorted form (alphanumerically).

	Sample Words : red, white, black, red, green    
	Expected Result : black, green, red, red, white

In [ ]:
#S12 MH
Write a Python program to count repeated characters in a string.

	Sample string: 'thequickbrownfoxjumpsoverthelazydog'
	Expected output :
			o 4
			e 3
			u 2
			h 2
			r 2
			t 2

In [82]:
mystring =  'thequickbrownfoxjumpsoverthelazydog'

res = []

for s in mystring : 
    count = mystring.count(s)
#     print(count)
    if count > 1 : 
        res.append( (s, count) )

print(res)
print(  list( set(res) ) )

[('t', 2), ('h', 2), ('e', 3), ('u', 2), ('r', 2), ('o', 4), ('o', 4), ('u', 2), ('o', 4), ('e', 3), ('r', 2), ('t', 2), ('h', 2), ('e', 3), ('o', 4)]
[('e', 3), ('h', 2), ('r', 2), ('t', 2), ('o', 4), ('u', 2)]

### List Questions

In [ ]:
#Li1 M
WAP to remove empty strings from the list of strings. Take list as input from the user.

For example: Input: ["My", "name", "", "is", "", "Alankrita", "", "."]
            Output: ["My", "name", "is", "Alankrita", "."]

In [ ]:
## HINT : check the len

In [83]:
my_list= ["My", "name", "", "is", "", "Alankrita", "", "."]
print(str(my_list))
for i in my_list:
    if "" in my_list:
         my_list.remove( "")
print(my_list)

['My', 'name', '', 'is', '', 'Alankrita', '', '.']
['My', 'name', 'is', 'Alankrita', '.']

In [ ]:
#Li2 H
WAP to make a list of all the characters starting from character 'A' to input charaacter from the user.

For e.g. Input: 'H'
        Output: ["A", "B", "C", "D", "E", "F", "G", "H"]

In [88]:
import string
string.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [93]:
import string
userChar = input( "Mention the character : " )

if userChar.isalpha() : 
    userChar = userChar.upper().strip()
    print(userChar)
    
    pos = string.ascii_uppercase.index(userChar)
    print( string.ascii_uppercase[ : pos + 1] )
    print( [ c for c in string.ascii_uppercase[ : pos + 1]     ]  )
#     print( [ c.upper() for c in string.ascii_uppercase[ : pos + 1]     ]  )
    
    
    
else : 
    print("Invalid Character")

Mention the character : h
H
ABCDEFGH
['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

In [ ]:
#Li3 H
WAP to check if a specific employee e is present in a company or not. Employee names are saved in a list.
e is taken as input from the user.

For example: empList = ["Ashwin", "Rachit", "Sanjana", "David", "Komal"]
            Input1: "Komal"
            Output1: "Employee is present"
            
            Input2: "Nitish"
            Output2: "Employee is not present"

In [ ]:
#Li4 M
Write a python program to find the maximum and minimum number in a list of 10 elements 
   (taken as input from the user) and also find the index position of the these numbers.
    
   For example: Input : [25, 2, 1, 86, 42, 32, 27, 12, 31, 10]
		Output: Max Number: 86, Index of Max Number: 3
			Min Number: 1, Index of Min Number: 2

In [ ]:
#Li5 M
Given two Python lists of same length. Iterate both lists simultaneously such that list1 
   should display item in original order and list2 in reverse order.
    
   For example: Input = list1 = [10, 20, 30, 40]
			list2 = [100, 200, 300, 400]
            Output: 10 400
                    20 300
                    30 200
                    40 100

In [95]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
list2 = list2[ : : -1]

for i in range( len(list1) ) : 
    print( list1[i], list2[i] )

10 400
20 300
30 200
40 100

In [ ]:
#Li6 M
WAP to concatenate two lists index-wise.
    list1 = ["M", "na", "i", "Ashu"]
    list2 = ["y", "me", "s", "tosh"]
    Output: ['My', 'name', 'is', 'Ashutosh']

In [96]:
list1 = ["M", "na", "i", "Ashu"]
list2 = ["y", "me", "s", "tosh"]

for i in range( len(list1) ) : 
    print( list1[i] + list2[i] ) # .append()

My
name
is
Ashutosh

In [ ]:
 #Li7 M
# WAP to remove/delete items from a list while iterating without creating a duplicate list.
# Take the elements to be deleted from the user in real-time.
# Input : 
# # [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
# # Enter Number between 0 - 9 : 4

# Output : 
# # [0, 1, 2, 3, 5, 6, 7, 8, 9]

In [ ]:
#Li8 E
WAP to generate a Python list of all the prime numbers between n to m where n & m are taken as input from the user.

In [98]:
number = 11
flag = True  # This is Prime

for each in range(2, number) : 
    if number % each == 0:
        flag = False
        break
    else : 
        flag = True

if flag : 
    print("Number is prime")

else : 
    print("Number is not prime")

Number is prime

In [101]:


number = 11

for num in range(2, number + 1) : 

    flag = True  # This is Prime

    for each in range(2, num) : 
        if num % each == 0:
            flag = False
            break
        else : 
            flag = True

    if flag : 
        print(num, "Number is prime")

    else : 
        print(num , "Number is not prime")

2 Number is prime
3 Number is prime
4 Number is not prime
5 Number is prime
6 Number is not prime
7 Number is prime
8 Number is not prime
9 Number is not prime
10 Number is not prime
11 Number is prime

In [ ]:
#Li9 M
WAP to concatenate two lists in the following order:
    list1 = ["Hello ", "World"]
    list2 = ["Hi", "There"]
    Output: ['Hello Hi', 'Hello There', 'World Hi', 'World There']

In [6]:
# Li10 M
Given two lists having names of students and their corresponding marks.
names = ["Ashutosh", "Ajay", "Alankrita", "Rachit", "Komal", "Anil"]
marks = [23, 21, 26, 23, 27, 24]
Take name of a student as input from the user and output his/her marks.

For e.g.:
    Input1: "Alankrita"
    Output1: 26
        
    Input2: "Someone"
    Output2: "Student not found"

Enter the name: Komal
27

In [ ]:
#Li11 H
Extended question of #Li10
Add an option to change marks of any students in the same code of #Li10. Take student name and new marks from the user. 
Print the modified list as output.

For e.g.: Input: "Ajay"
        new_mark: 25
        Output: marks = [23, 25, 26, 23, 27, 24]

In [ ]:
#Li12 H
Extended question of #Li10
Give an option to enter the marks of a new student into the existing lists names and marks. Take new data as input from user.
Print the new names and marks list as output.

For e.g.: Input: New_name = "Nitish"
                new_Marks = 20
        Output: names = ["Ashutosh", "Ajay", "Alankrita", "Rachit", "Komal", "Anil", "Nitish"]
                marks = [23, 21, 26, 23, 27, 24, 20]

### Dictionary Questions

In [ ]:
#D1
WAP in Python to merge following dictionaries to create a new one:
	dic1={1:10, 2:20}
	dic2={3:30, 4:40}
	dic3={5:50, 6:60}

In [ ]:
#D2
WAP in python to generate and print a dictionary that contains a number (between 1 and n) 
in the form {x : x*x} where n is the input from the user.

For e.g. Input: 4
        Output: {1:1, 2:4, 3:9, 4:16}

In [ ]:
#D3
WAP in python to find the number of vowels, consonants, digits, white space characters & 
special characters in a string and save the result in the form of a dictionary.

In [ ]:
#D4
WAP to reverse map the dictionary items. Take dictionary as input from the user.

	For eg., Input: d = {'A': 65, 'B': 66, 'C': 67, 'D': 68}
            Output: d = {65: 'A', 66: 'B', 67: 'C', 68: 'D'}

In [ ]:
#D5
WAP to save Username and Password of 10 employees in an organisation. 
Take the Username and Password as input from the user one by one and save in the Dictionary.

In [ ]:
#D6
Extended Question from #D5
Write an additional functionality to check if an employee is present in the organisation or not.
Basically "Search" Functionality based on their username
Take employee name as input from the user.
If the employee is present, print "Present" else print "Not Present"

### Misc. Questions - i.e. you can use any data type which seems feasible for question

In [ ]:
#M1
WAP in python that accepts two integers (n) & (m) from user and 
computes the value of 2n3 + 5m2 - 7n + 10

In [ ]:
#M2
Write a python program to find the intersection of elements from two list 
(find the common elements in two lists).

In [ ]:
#M3
WAP in Python to find the Max of n numbers all taken as input from the user.

In [ ]:
#M4
WAP which takes a sequence of numbers from the user and check if all input numbers are unique.

In [ ]:
#M5
WAP to reverse a given integer number.
Example: Input: 105320
        Output: 023501

In [ ]:
#M6
WAP to take 10 integer inputs from the user and save them in a list. 
The inputs have to be mix of even and odd numbers. 
Now make one list to save all the even numbers from the input list. 
Make another list for odd numbers too.

In [ ]:
#M7
WAP to convert temperature in Fahrenheit to Celsius. Take the temperature from the user in float type.

In [ ]:
#M8
WAP to continuously take Names as input from the user. 
Save the incoming names into a list as Full Name and save {First Name:Second Name} in a dictionary.
Take inputs till the user enters "Stop"

For e.g.: Input: "Shahrukh Khan", "Gauri Khan",..................."Stop"
         Output: list1 = ["Shahrukh Khan", "Gauri Khan",....................]
                dict1 = {"Shahrukh":"Khan", "Gauri":"Khan", .....................}

In [ ]:
#M9
WAP to make a simple and compound interest calculator. Take all the necessary data as input from the user.

In [ ]:
#M10